
<div class="movie-container">
    <div *ngIf="selectedMovie">
    <h2>{{ selectedMovie.title }} ({{ selectedMovie.year }})</h2>
    <div class="movie-details">
      <div class="movie-image">
        <img src="{{ selectedMovie.info.image_url }}" alt="{{ selectedMovie.title }}" />
      </div>
      <div class="movie-info">
        <p><strong>Director:</strong> {{ selectedMovie.info?.directors?.join(', ') }}</p>
        <p><strong>Release Date:</strong> {{ selectedMovie.info?.release_date }}</p>
        <p><strong>Rating:</strong> {{ selectedMovie.info?.rating }}</p>
        <p><strong>Genres:</strong> {{ selectedMovie.info?.genres?.join(', ') }}</p>
        <p><strong>Plot:</strong> {{ selectedMovie.info?.plot }}</p>
        <p><strong>Rank:</strong> {{ selectedMovie.info.rank }}</p>
        <!-- <p><strong>Running Time:</strong> {{ selectedMovie.info.running_time_secs / 60 }} minutes</p> -->
        <p ><strong>Actors:</strong> {{ selectedMovie.info?.actors?.join(', ') }}</p>
  
      </div>
    </div>
  </div>

  <div *ngIf="!selectedMovie" class="error-message">
    Movie not found.
  </div>
  
  </div>


  

  
