
<!-- search.component.html -->
<div class="container">
    <h1 class="heading">Search Movies</h1>
  
    <div class="search-container">
      <div class="search-input">
        <input
          type="text"
          placeholder="Search movies..."
          [(ngModel)]="searchText"
          (input)="onSearch()"
        />
        <button (keyup)="onSearch()">Search</button>
      </div>
    </div>
  
    <div class="search-results">
      <ng-container *ngIf="searchResults.length > 0; else noResults">
        <div class="movie-card" *ngFor="let movie of searchResults">
          <div class="movie-logo">
            <img
              *ngIf="movie.info.image_url"
              src="{{ movie.info.image_url }}"
              alt="{{ movie.title }} Logo"
            />
            <div *ngIf="!movie.info.image_url" class="default-logo">
              <span>Movie Logo Unavailable</span>
            </div>
          </div>
          <div class="movie-info">
            <a (click)="goToMovieDetails(movie.info.rank)">{{movie.title}} ({{movie.year}})</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  
  <ng-template #noResults>
    <p class="no-results-message">No movies found.</p>
  </ng-template>
  

